<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties>
    <property name="jdbc.driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="jdbc.url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf-8"/>
    <property name="jdbc.username" value="root"/>
    <property name="jdbc.password" value="root"/>
  </properties>

  <settings>
    <setting name="logImpl" value="LOG4J"/>
  </settings>

  <typeAliases>
    <!-- 逐个声明
    <typeAlias alias="Department" type="com.linkedbear.mybatis.entity.Department"/>
    -->

    <!-- 包扫描
         以此法被扫描的实体类，别名为类名的首字母小写形式(类似于Bean -> bean)
    -->
    <package name="org.zsz.learnmybatis.mapper.entity"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mapper/department.xml"/>
    <mapper resource="mapper/user.xml"/>
    <mapper resource="mapper/test.xml"/>
  </mappers>
</configuration>